@model CountryDTO
@{
    ViewData["Title"] = "CountryForm";
    Layout = "~/Views/Shared/_SideMenu.cshtml";
}

<form method="post">
    @if (ViewData["result"] != null)
    {
        <div class="mb-3 ms-3">
            <div class="alert alert-primary" role="alert">
                @ViewData["result"]
            </div>
        </div>
    }

    <input type="hidden" asp-for="Id" class="form-control" placeholder="Country Id">

    <div class="mb-3 ms-3">
    <label class="form-label">Name</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Country Name">
    <span asp-validation-for="Name"></span>
</div>
<div class="mb-3 ms-3">
        @if ((bool)ViewData["IsEdit"] == false)
        {
            <input type="submit" value="Save" asp-action="Save" class="btn btn-primary" />
        }
        else
        {
            <input type="submit" value="Update" asp-action="Update" class="btn btn-primary" />
        }
    </div>
</form>